@import './common.css';
.erazer_cup {
  --team-stats-label-color: #ffffff;
  --team-stats-value-color: #ffffff;
  --team-stats-header-color: #5dbbd3;
}

.erazer_cup .erazer_logo {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 150px;
  height: auto;
  z-index: 10;
  opacity: 0.9;
  transition: all 0.3s ease;
}

.erazer_cup .erazer_logo:hover {
  opacity: 1;
  transform: scale(1.05);
}

.erazer_cup .leaderboard_table {
  position: absolute;
  width: 100%;
  height: fit-content;
  top: 166px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.erazer_cup .leaderboard_container {
  width: 1920px;
  height: 1080px;
  /* background: #0a1e41;   */
  background-image: url("erazer_leaderboard.png");
}

.erazer_cup .row_container {
  display: flex;
  gap: 15px;
  color: #ffffff; 
  box-shadow: inset 0 0 0 5px #5dbbd3;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  animation-delay: calc(var(--animation-order) * 0.1s);
}

.erazer_cup .row_container .rank_container {
  height: 62px;
  width: 90px;
  margin-left: 5px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-family: "Eurostile";
}

.erazer_cup .row_container .name_container {
  height: 58px;
  width: 579px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: transparent;
  font-family: "Eurostile";
  font-size: 26px;
}

.erazer_cup .leaderboard_table .row_container.top-25 .name_container {
  color: #f15c86 !important;
}

.erazer_cup .row_container .info_box {
  height: 58px;
  width: 118.99px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-family: "Eurostile";
  font-size: 26px;
  color: #ffffff;
}

.erazer_cup .header_container {
  display: flex;
  gap: 15px;
  box-shadow: inset 0 0 0 5px #5dbbd3; 
  background-color: #5dbbd3; 
}

.erazer_cup .header_container .rank_header {
  width: 90px;
  height: 62px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  color: #ffffff; 
  font-family: "Eurostile";
}

.erazer_cup .header_container .name_header {
  width: 579px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  color: #ffffff;
  font-family: "Eurostile";
}

.erazer_cup .header_container .info_header {
  width: 118.99px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff; 
  font-family: "Eurostile";
}

.erazer_cup .search_container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  position: absolute;
  top: 105px;
  width: 100%;
  z-index: 10;
}

.erazer_cup .search_input {
  background-color: var(--team-stats-value-color);
  border: 2px solid #5dbbd3;
  border-radius: 10px;
  padding: 10px 15px;
  font-family: "Eurostile";
  font-size: 18px;
  color: #f15c86;
  width: 300px;
  outline: none;
}

.erazer_cup .search_input::placeholder {
  color: #000000;
  opacity: 0.7;
}